# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
config/
android/
.vscode/
build/
.idea/
.dart_tool/
doc/

# IntelliJ related
*.ipr
*.iws

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/ios/Flutter/.last_build_id
.flutter-plugins
.pub-cache/
.pub/
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
